/.idea
/.history
/.vscode
/.cache
/.gradle
/gradle
.project
.classpath
.settings
.tmp
node_modules
build
public
.gqlconfig
.expo
.DS_Store
jsconfig.json
.env
*.iml
*.class
*.log
*.jar
*.sqlite3
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
